{{ $content := .content }}
{{ $params := .params }}

{{ $value              := $content }}
{{ $type               := (printf "%T" $value) }}
{{ $typeIsPage         := (findRE "Page|pageState" $type) }}

{{ $permalink := "" }}
{{ if not $params.preventTitleLinks }}
    {{ if $typeIsPage }}
        {{ if and (not $content.Draft ) ( not $content.Params.hidden ) }}
            {{ $permalink = $content.Permalink }}
        {{ end }}
    {{ end }}
    {{ if not $permalink }}
        {{ with $content.Params.links }}
            {{ range $link := . }}
                {{ if $link.primary }}{{ $permalink = $link.href }}{{ end }}
            {{ end }}
        {{ end }}
        {{ if not $permalink }}
            {{ with $content.Params.links }}
                {{ with index . 0 }}{{ $permalink = .href }}{{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if $typeIsPage }}{{ $content = $content.Params }}{{ end }}

<div>
    {{ if isset $content "thumbnail" }}
        {{- $img := .Resources.GetMatch $content.thumbnail -}}
        {{- $img = cond (ne $img nil) $img (.Parent.Resources.GetMatch $content.thumbnail) -}}
        {{- $img = cond (ne $img nil) $img (.Parent.Parent.Resources.GetMatch $content.thumbnail) -}}
        {{- $img = cond (ne $img nil) $img (resources.Get $content.thumbnail) -}}
        {{- if (ne $img nil) -}}
            {{- $resizedImg := $img.Fit "250x250" -}}
            <aside>
                <img src="{{ $resizedImg.Permalink }}" style="max-height: 10em; max-width: 250px" alt="">
            </aside>
        {{- end -}}
    {{ end }}

    <b>{{ $content.title }}</b>
    {{with $content.summary }}<em><br>{{ . }}<br></em>{{ end }}
    <nav class="noprint">
        <ul>
            {{ with $permalink }}
            <li>
                <strong><a href="{{ . }}">Read More</a></strong>
            </li>
            {{ end }}
        </ul>
    </nav>
</div>
