<div>
    {{ if isset .Params "thumbnail" }}
        {{- $img := .Resources.GetMatch .Params.thumbnail -}}
        {{- $img = cond (ne $img nil) $img (.Parent.Resources.GetMatch .Params.thumbnail) -}}
        {{- $img = cond (ne $img nil) $img (.Parent.Parent.Resources.GetMatch .Params.thumbnail) -}}
        {{- $img = cond (ne $img nil) $img (resources.Get .Params.thumbnail) -}}
        {{- if (ne $img nil) -}}
            {{- $resizedImg := $img.Fit "250x250" -}}
            <aside>
                <img src="{{ $resizedImg.Permalink }}" style="max-height: 10em; max-width: 250px" alt="">
            </aside>
        {{- end -}}
    {{ end }}

    <b>{{ .Params.title }}</b>
    {{with .Params.summary }}<em><br>{{ . }}<br></em>{{ end }}
    <nav class="noprint">
        <ul>
            <li>
                <strong><a href="{{ .Permalink }}">Read More</a></strong>
            </li>
        </ul>
    </nav>
</div>
