{{ $content := .content }}
{{ $params := .params }}

{{ $value              := . }}
{{ $type               := (printf "%T" $value) }}
{{ $typeIsPage         := (findRE "Page|pageState" $type) }}

{{ $permalink := "" }}
{{ if not $params.preventTitleLinks }}
    {{ if $typeIsPage }}
        {{ if and (not $content.Draft ) ( not $content.Params.hidden ) }}
            {{ $permalink = $content.Permalink }}
        {{ end }}
    {{ end }}
    {{ if not $permalink }}
        {{ with $content.Params.links }}
            {{ range $link := . }}
                {{ if $link.primary }}{{ $permalink = $link.href }}{{ end }}
            {{ end }}
        {{ end }}
        {{ if not $permalink }}
            {{ with $content.Params.links }}
                {{ with index . 0 }}{{ $permalink = .href }}{{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $parents := slice $content }}
{{ with $content.Parent }}{{ $parents = $parents | append . }}{{ end }}
{{ with $content.Parent.Parent }}{{ $parents = $parents | append . }}{{ end }}
{{ with $content.Parent.Parent.Parent }}{{ $parents = $parents | append . }}{{ end }}

{{ if $typeIsPage }}{{ $content = $content.Params }}{{ end }}

<div>
    {{ if isset $content "thumbnail" }}
        {{ $img := resources.Get "_" }}
        {{ range $parents }}
            {{ if (eq $img nil) }}{{ $img = .Resources.GetMatch $content.thumbnail }}{{ end }}
        {{ end }}
        {{ $img = cond (ne $img nil) $img (resources.Get $content.thumbnail) }}
        {{- if (ne $img nil) -}}
            {{- $resizedImg := $img.Fit "250x250" -}}
            <aside>
                <img src="{{ $resizedImg.Permalink }}" alt="">
            </aside>
        {{- end -}}
    {{ end }}
            
    <b>{{ $content.title }}</b>

    {{ $details := slice }}
    {{ with $content.details }}
        {{ if reflect.IsSlice . }}
            {{ $details = . }}
        {{ else }}
            {{ $details = slice . }}
        {{ end }}
    {{ end }}
    {{ with $content.place }}{{ $details = $details | append . }}{{ end }}
    {{ if $details }}
        <br>{{ delimit $details " / " }}
    {{ end }}

    {{with $content.summary }}<em><br>{{ . }}<br></em>{{ end }}

    <nav class="noprint">
        <ul>
            {{ with $content.links }}
                {{ range $link := . }}
                    <li>
                    <strong><a href="{{ $link.href }}">
                        {{ with $link.icon }}
                            <i class="fa {{ . }}" aria-hidden="true"></i>
                        {{ end }}
                        {{ with $link.label }}<span>{{.}}</span>{{ end }}
                    </a></strong>
                    </li>
                {{ end }}
            {{ end }}
            <li>
                <strong><a href="{{ .Permalink }}">Read More</a></strong>
            </li>
        </ul>
    </nav>

</div>
