{{ $content := .content }}
{{ $params := .params }}

{{ $value              := $content }}
{{ $type               := (printf "%T" $value) }}
{{ $typeIsPage         := (findRE "Page|pageState" $type) }}

{{ $permalink := "" }}
{{ if not $params.preventTitleLinks }}
    {{ if $typeIsPage }}
        {{ if and (not $content.Draft ) ( not $content.Params.hidden ) }}
            {{ $permalink = $content.Permalink }}
        {{ end }}
    {{ end }}
    {{ if not $permalink }}
        {{ with $content.Params.links }}
            {{ range $link := . }}
                {{ if $link.primary }}{{ $permalink = $link.href }}{{ end }}
            {{ end }}
        {{ end }}
        {{ if not $permalink }}
            {{ with $content.Params.links }}
                {{ with index . 0 }}{{ $permalink = .href }}{{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if $typeIsPage }}{{ $content = $content.Params }}{{ end }}

<div>

    {{ $alt := (print $content.name) }}
    {{ with $content.thumbnail }}

        {{- $img := resources.GetMatch . -}}
        {{- if not $img -}}
            {{- $img = resources.Get . -}}
        {{- end -}}

        {{ with $img }}
            {{- $resizedImg := .Fit "250x250" -}}
            {{- $resizedImgWebp := .Fit "250x250 webp picture" -}}

            <aside class="x-small">
                <picture>
                    <source srcset="{{ $resizedImgWebp.Permalink }}" type="image/webp" />
                    <img src="{{ $resizedImg.Permalink }}" alt="{{ $alt }}" loading="lazy" decoding="async">
                </picture>
                <!-- <img src="{{ . }}" style="max-height: 4em;" alt="{{ $alt }}"> -->
            </aside>
        {{ end }}
    {{ end }}

    <b>{{ $content.title }}</b><br>

    {{ delimit $content.details " / " }} / {{ $content.place }}

    {{ with $content.summary }}<br><em>{{ . }}</em>{{ end }}

</div>