{{ $content := .content }}
{{ $params := .params }}

{{ $value              := $content }}
{{ $type               := (printf "%T" $value) }}
{{ $typeIsPage         := (findRE "Page|pageState" $type) }}

{{ $permalink := "" }}
{{ if not $params.preventTitleLinks }}
    {{ if $typeIsPage }}
        {{ if and (not $content.Draft ) ( not $content.Params.hidden ) }}
            {{ $permalink = $content.Permalink }}
        {{ end }}
    {{ end }}
    {{ if not $permalink }}
        {{ with $content.Params.links }}
            {{ range $link := . }}
                {{ if $link.primary }}{{ $permalink = $link.href }}{{ end }}
            {{ end }}
        {{ end }}
        {{ if not $permalink }}
            {{ with $content.Params.links }}
                {{ with index . 0 }}{{ $permalink = .href }}{{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if $typeIsPage }}{{ $content = $content.Params }}{{ end }}

<div>

    {{ $alt := (print $content.name) }}
    {{ with $content.thumbnail }}

        {{ $img := resources.Get . }}
        
        {{ with $img }}
            {{- $resizedImg := .Fill "360x216 Top" -}}
            {{- $resizedImgWebp := .Fill "360x216 Top webp picture" -}}
            <aside class="small">
                <picture>
                    <source srcset="{{ $resizedImgWebp.Permalink }}" type="image/webp" />
                    <img class="publication" src="{{ $resizedImg.Permalink }}" alt="{{ $alt }}" loading="lazy" decoding="async">
                </picture>
            </aside>
        {{ end }}
    {{ end }}
    
    {{ if $params.showShortref }}
        {{ $firstAuthor := index $content.authors 0 }}
        {{ $firstAuthorNames := split $firstAuthor " " }}
        {{ $firstAuthorLastName := index $firstAuthorNames (sub (len $firstAuthorNames) 1) }}
        {{ $shortRef := delimit (slice $firstAuthorLastName $content.venueShort $content.year) " " }}
        {{ $shortRefLink := delimit (slice $firstAuthorLastName $content.venueShort $content.year) "-" }}
        [<a href="#{{ $shortRefLink }}"><span id="{{ $shortRefLink }}">{{ $shortRef }}</span></a>]<br>
    {{ end }}

    <b>{{ $content.title }}</b><br>
    
    {{ delimit $content.authors ", <wbr>" }}<br>

    <em>
        {{ $shorthand := delimit (slice $content.venueShort $content.venueTrack) " " }}
        {{ with $content.venueShort }}<b>[{{ trim $shorthand " " }}]</b>{{ end }}
        {{ $content.venueLong }}
    </em>

    {{ with $content.abstract }}
        <details>
            <summary>Abstract</summary>
            <p>{{ . | markdownify }}</p>
        </details>
    {{ end }}
    
    <nav class="noprint">
        <ul>
            {{ range $key, $value := $content.links }}
                <li>
                <strong><a href="{{ $value }}">{{ $key | humanize }}</a></strong>
                </li>
            {{ end }}
            {{ with $content.bibTeX }}
                <li>
                <strong><a onclick="copyToClipboard('{{ . }}')" title="Copy to clipboard" clickmessage="Copied!">BibTeX</a></strong>
                </li>
            {{ end }}
            <li><q></q></li>
        </ul>
    </nav>

</div>