{{ $vars := newScratch }}
{{ $vars.Set "@type" "Thing" }}
{{ $vars.Set "url" .Permalink }}

{{ $summary := 0 }}
{{ with .Summary }}{{ $summary = . | plainify }}{{ else }}{{if .IsPage}}{{ $summary = .Summary | plainify }}{{ else }}{{ with .Site.Params.summary }}{{ $summary = . | plainify }}{{ end }}{{ end }}{{ end }}
{{ $vars.Set "description" $summary }}

{{ $thumbnail := 0 }}
{{ if isset .Params "thumbnail" }}
    {{ $img := .Resources.GetMatch .Params.thumbnail }}
    {{ if not $img }}
        {{ $img = resources.Get .Params.thumbnail }}
    {{ end }}
    {{ if $img }}
        {{ $thumbnail = $img.Permalink }}
    {{ end }}
{{ end }}
{{ $vars.Set "image" $thumbnail }}

{{ $sameAs := slice }}
{{ if isset .Params "links" }}
    {{ range $link := .Params.links }}
        {{ if (not (and (isset $link "jsonld") (not $link.jsonld))) }}
        {{ $sameAs = $sameAs | append $link.href }}
        {{ end }}
    {{ end }}
{{ end }}
{{ $vars.Set "sameAs" $sameAs }}

{{ if isset .Params "jsonld" }}
    {{ range $key, $value := .Params.jsonld }}
        {{ if eq $key "type" }}{{ $key = "@type" }}{{ end }}
        {{ $vars.Set $key $value }}
    {{ end }}
{{ end }}

{{ $vars.Set "@context" "http://www.schema.org" }}

<script type='application/ld+json'>
    {
    {{ range $key, $value := $vars.Values }}"{{ $key }}" : {{ $value }},
    {{ end }}
    }
</script>