{{ $cssFileNames := slice "/css/fonts.css" "/css/colors.css" }}
{{ $cssFiles := slice }}
{{ range $cssFileNames }}
    {{ $cssFiles = $cssFiles | append (resources.GetMatch . ) }}
{{ end }}
{{ range resources.Match "/css/*.css" }}
    {{ if not (in $cssFiles .) }}{{ $cssFiles = $cssFiles | append . }}{{ end }}
{{ end }}
{{ $cssMain := $cssFiles | resources.Concat "/css/style.css" | minify | fingerprint }}
<link rel="preload" href="{{ $cssMain.RelPermalink }}" integrity="{{ $cssMain.Data.Integrity }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ $cssMain.RelPermalink }}" integrity="{{ $cssMain.Data.Integrity }}"></noscript>

