{{ $content := .content }}
{{ $params := .params }}

{{ $value              := $content }}
{{ $type               := (printf "%T" $value) }}
{{ $typeIsPage         := (findRE "Page|pageState" $type) }}

{{ $permalink := "" }}
{{ if not $params.preventTitleLinks }}
    {{ if $typeIsPage }}
        {{ if and (not $content.Draft ) ( not $content.Params.hidden ) }}
            {{ $permalink = $content.Permalink }}
        {{ end }}
        {{ $content = $content.Params }}
    {{ end }}
    {{ if not $permalink }}
        {{ with $content.links }}
            {{ range $link := . }}
                {{ if $link.primary }}{{ $permalink = $link.href }}{{ end }}
            {{ end }}
        {{ end }}
        {{ if not $permalink }}
            {{ with $content.links }}
                {{ with index . 0 }}{{ $permalink = .href }}{{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

<div class="griditem">
    {{ if isset $content "thumbnail" }}
        {{- $img := .Resources.GetMatch $content.thumbnail -}}
        {{- $img = cond (ne $img nil) $img (.Parent.Resources.GetMatch $content.thumbnail) -}}
        {{- $img = cond (ne $img nil) $img (.Parent.Parent.Resources.GetMatch $content.thumbnail) -}}
        {{- $img = cond (ne $img nil) $img (resources.Get $content.thumbnail) -}}
        {{- if (ne $img nil) -}}
            {{- $resizedImg := $img.Fit "250x250" -}}
            {{ if $typeIsPage }}{{ with $permalink }}<a href="{{ . }}">{{ end }}{{ end }}
            <img src="{{ $resizedImg.Permalink }}" style="max-height: 10em" alt=""><br>
            {{ if $typeIsPage }}{{ with $permalink }}</a>{{ end }}{{ end }}
        {{- end -}}
    {{ end }}

    <b>
        {{ if $typeIsPage }}{{ with $permalink }}<a href="{{ . }}">{{ end }}{{ end }}
        {{ $content.title }}
        {{ if $typeIsPage }}{{ with $permalink }}</a>{{ end }}{{ end }}
    </b>

    {{ $details := slice }}
    {{ with $content.details }}
        {{ if reflect.IsSlice . }}
            {{ $details = . }}
        {{ else }}
            {{ $details = slice . }}
        {{ end }}
    {{ end }}
    {{ with $content.place }}{{ $details = $details | append . }}{{ end }}
    {{ if $details }}
        <br>{{ delimit $details " / " }}
    {{ end }}

    <nav class="noprint">
        <ul>
            {{ with $content.links }}
                {{ range $link := . }}
                    <li>
                    <a href="{{ $link.href }}">
                        {{ with $link.icon }}
                            <i class="fa {{ . }}" aria-hidden="true"></i>
                        {{ end }}
                        <!-- {{ if not $params.small }}
                            {{ with $link.label }}<span>{{.}}</span>{{ end }}
                        {{ end }} -->
                    </a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </nav>

</div>
