{{ $content := .content }}
{{ $params := .params }}

{{ $sortOrder := "asc" }}
{{ with $params.sortOrder }}{{ $sortOrder = . }}{{ end }}

{{ with $params.sortBy }}
    {{ with .param }}
        {{ $content = $content.ByParam . }}
        {{ if eq $sortOrder "desc" }}{{ $content = $content.Reverse }}{{ end }}
    {{ end }}
    {{ with .field }}
        {{ $content = sort $content . $sortOrder }}
    {{ end }}
{{ end }}

{{ $divClass := "grid" }}
{{ if $params.small }}{{ $divClass = "grid small" }}{{ end }}

<div class="{{ $divClass }}">
{{ range $content }}

    {{ $value              := . }}
    {{ $type               := (printf "%T" $value) }}
    {{ $typeIsPage         := (findRE "Page|pageState" $type) }}

    {{ $itemtype := "page" }}
    {{ if $typeIsPage }}
        {{ with .Params.type }}{{ $itemtype = . }}{{ end }}
    {{ else }}
        {{ with .type }}{{ $itemtype = . }}{{ end }}
    {{ end }}


    {{ partial ( printf "griditems/%s" ( lower $itemtype ) ) ( dict "content" . "params" $params ) }}

{{ end }}
</div>
