{{ define "main" }}
    
    {{ $sections := slice (dict "partial" "list" "content" (dict "param" "pages") ) }}
    {{ with .Params.sections }}{{ $sections = . }}{{ end }}

    {{ $page := . }}
    {{ range $sections }}
        {{ if .noprint }}
            <section class="noprint">
        {{ else }}
            <section>
        {{ end }}

            {{ with .title }}<h2>{{.}}</h2>{{ end }}

            {{ $content := partial "utils/resolve.html" (dict "spec" .content "page" $page) }}

            {{ $params := dict }}
            {{ with .params }}{{ $params = . }}{{ end }}

            {{ if isset . "partial" }}
                {{ partial (printf "sections/%s" .partial) ( dict "content" $content "params" $params ) }}
            {{ else }}
                {{ ( dict "content" $content "params" $params ) }}
            {{ end }}
        </section>
    {{ end }}

{{ end }}