{{ define "main" }}
    {{ .Content }}

    {{ with .Params.references }}
        {{ $references := partial "utils/resolve.html" (dict "spec" . "page" $) }}
        {{ if $references }}
            <section>
                <h2>References</h2>
                {{ partial "sections/list" (dict "content" $references "params" (dict "showShortref" true "hideVenueTag" true "showYearAfterVenue" true)) }}
            </section>
        {{ end }}
    {{ end }}

    {{ with .Params.authors }}
        {{ $authors := partial "utils/resolve.html" (dict "spec" . "page" $) }}
        {{ if $authors }}
            <section>
                <h2>Authors</h2>
                {{ partial "sections/list" (dict "content" $authors "params" (dict "preventTitleLinks" true "small" false)) }}
            </section>
        {{ end }}
    {{ end }}

    {{ if isset .Params "recommended" }}
        <h2>Recommended</h2>
        {{ $pages := slice }}
        {{ $site := .Site}}
        {{ range $page := .Params.recommended }}
        {{ $page = $site.GetPage $page }}
        {{ $pages = $pages | append $page }}
        {{ end }}

        {{ $params := dict }}
        {{ partial "sections/carouselpreview" ( dict "content" $pages "params" $params ) }}
    {{ end }}

    {{ if isset .Params "tweet" }}
        <h2>Comments</h2>
        {{ partial "elements/comments" . }}
        <br>
        <nav><strong><a href="{{ .Params.tweet }}" target="_blank">Tweet a Comment</a></strong></nav>
    {{ end }}
{{ end }}
