{{ $currentPage := . }}

<nav>
    <ul>
        
        {{ $selectedExists := false }}
        {{ range .Site.Menus.main }}

            {{ $selected := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.Section .Pre) }}
            {{ $selectedExists = or $selectedExists $selected }}

            <li {{ if $selected }}class="selected"{{ end }} >
                <a href="{{ .URL }}">
                    {{ print .Name | safeHTML }}
                </a>
                {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.Section .Pre) }}</b>{{ end }}
            </li>
        {{ end }}

        {{ if not $selectedExists }}
            <li class="selected phoneonly" ><a></a></li>
        {{ end }}
    </ul>
</nav>

{{ if and (not $currentPage.IsHome ) (not $currentPage.Params.hideHeaderTitle ) }}
    {{ $homePage := .Site.Home }}
    <div>
        {{ with .Site.Params.logo }}
            {{- $img := $homePage.Resources.GetMatch . -}}
            {{- if not $img -}}
                {{- $img = resources.Get . -}}
            {{- end -}}

            {{- if $img -}}
                {{- $resizedImg := $img.Fit "48x48" -}}
                {{- $resizedImgWebp := $img.Fit "48x48 webp picture" -}}
                <picture>
                    <source srcset="{{ $resizedImgWebp.Permalink }}" type="image/webp" />
                    <img src="{{ $resizedImg.Permalink }}" loading="lazy" decoding="async">
                </picture>
            {{- end -}}
        {{ end }}

        {{ with $homePage.Params.title }}
            <span>{{ . }}</span>
        {{ end }}
    </div>
{{ end }}