<nav>
    <ul>
        {{ $currentPage := . }}
        {{ $selectedExists := false }}
        {{ range .Site.Menus.main }}

            {{ $selected := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.Section .Pre) }}
            {{ $selectedExists = or $selectedExists $selected }}

            <li {{ if $selected }}class="selected"{{ end }} >
                <a href="{{ .URL }}">
                    {{ print .Name | safeHTML }}
                </a>
                {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.Section .Pre) }}</b>{{ end }}
            </li>
        {{ end }}

        {{ if not $selectedExists }}
            <li class="selected phoneonly" ><a></a></li>
        {{ end }}
    </ul>
</nav>
