<nav>
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li>
            {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.Section .Pre) }}<b>{{ end }}
            <a href="{{ .URL }}">
                {{ print .Name | safeHTML }}
            </a>
            {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.Section .Pre) }}</b>{{ end }}
        </li>
        {{ end }}
    </ul>
</nav>
